body {
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #f9fafb;
}

nav {
    grid-column: col-start/span 12;
    grid-row: 1;
}

#logo {
    margin: auto;
}

#club-name {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    text-align: center;
}

header {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: calc(8px + 2vmin);
    justify-content: center;
    /*    background-color: #e02528; */
    background-color: #d82131;
    box-shadow: 0px 1px 20px rgb(78, 78, 78);
}

.add-calendar a {
    color: #e02528;
    letter-spacing: 20px;
}

#header-nav,
#header-nav a,
#header-nav a:link,
#header-nav a:visited {
    color: white;
    padding: 8px;
    letter-spacing: 5px;
}

#header-nav a:hover {
    background-color: #ec797b;
}

nav {
    font-weight: bold;
}

#header-nav {
    margin-bottom: 4px;
}

#nav-social a,
footer a {
    color: white;
    font-size: larger;
}

#nav-social a:hover,
footer a:hover {
    opacity: 0.7;
}

.content {
    font-size: calc(7px + 2vmin);
    margin: 20px auto auto;
    position: relative;
    text-align: left;
    padding: 10px;
    padding-top: 0px;
    width: 90%;
    padding-bottom: 20px;
}

.section {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px dashed gray;
}

#news-section {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px dashed gray;
}

.merch-with-img,
.news-with-poster {
    display: grid;
    grid-template-columns: 3fr 4fr;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px;
    margin-bottom: 20px;
    font-size: calc(5px + 2vmin);
}

.merch-main img, 
.news-poster img,
.news-poster video {
    object-fit: contain;
    max-width: 100%;
    min-width: 95%;
    max-height: 100%;
    min-height: 100%;
    cursor: pointer;
    background-repeat: no-repeat;
}

#view-news-archive {
    background-color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    border: #333 1px solid;
    margin: auto;
    width: fit-content;
    text-align: center;
    margin-bottom: 20px;
}

a#view-news-archive-link{
    color: black;
}

#view-news-archive:hover {
    background-color: #555;
    color: white;
}

.news-with-poster-details {
    padding: 10px;
    padding-top: 0.75em;
}

.news-finished img {
  width: 80%;
  margin: auto;
}

.news-finished .title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.video-content,
.news,
.merch,
#order,
.news-finished {
    /*news with no poster*/
    background-color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px;
    margin-bottom: 20px;
}



.news-with-poster-details h3,
.news-with-poster-details h2,
.merch-img,
.news-poster {
    margin-top: 0.75em;
}

.section-title {
    text-align: center;
    letter-spacing: 5px;
    font-size: 2em;
}

footer {
    bottom: 0;
    border-top: 3px #c40729 solid;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #222222;
    margin: 0px;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 1vmin);
    justify-content: center;
}

a {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: purple;
}

#resources h2 {
   /* letter-spacing: 3px;*/
    text-decoration: underline;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    font-size: larger;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-bottom: 5px;
}

/*
Code for button to go top top
source: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
*/
#top_btn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#top_btn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

/*
Code for button to go top top
source: https://www.w3schools.com/howto/howto_css_tooltip.asp
*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: small;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px;
}

.alert-danger a {
    color: #114edd;
}

.alert-danger a:hover {
    color: #333;
    text-decoration: underline;
}


/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.hamburger-nav {
    display: none;
    color: white;
    position: absolute;
    padding-right: 16px;
    padding-top: 10px;
    right: 0;
    top: 0;
}

.hamburger-nav:hover {
    color: black;
}


#linux {
  font-weight: bold;
  /*color: #f9fafb;*/
}

#linux img {
  height: 1em;
}

.secret {
  /*color: #222;*/
  color: #d6d6d6;
  font-size: 8px;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

#tux {
  position: fixed;
  display: none;
  top: 5px;
  left: 5px;
  z-index: 10;
  width: 40px;
}

@keyframes walk {
  0%   {left:5px; top:5px;}
  25%  {left:80%; top:5px;}
  50%  {left:80%; top:80%;}
  75%  {left:5px; top:80%;}
  100% {left:5px; top:5px;}
}

footer p {
  margin-bottom:5px;
}

@media only screen and (min-width: 600px) {
  #display-video {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  #display-video {
    width: 100%;
  }

  #display-video iframe {
    width: 300px;
    height: 197px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  #display-video {
    width: 100%;
  }

  #display-video iframe {
    position: relative;
    width: 400px;
    height: 225px;
  }
  
  #display-desc { 
    width: 400px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  #display-video {
    width: 100%;
  }

  #display-video iframe {
    position: relative;
    width: 600px;
    height: 337.5px;
  }
  #display-desc {
    width: 600px;
  }
}

@media only screen and (max-width: 1000px) {
    .content {
        width: 95%;
        padding: 10px;
        text-align: left;
    }

    .news-with-poster-details,
    .news-with-poster-details h2 {
        margin-top: 0px;
        padding-top: 0px;
    }

    .news-with-poster,
    .merch-with-img {
        display: grid;
        grid-template-columns: auto;
    }

    #top_btn {
        right: 6px;
        margin-bottom: 20px;
    }

    nav a {
        display: block;
    }

    #club-name {
        font-size: 1em;
        letter-spacing: 2px;
    }

    .hamburger-nav {
        display: block;
    }

    #logo img {
        width: 60px;
        height: 60pxm;
        position: absolute;
        left: 0px;
        right: 0px;
    }

    #header-nav {
        display: none;
    }
}

@media only screen and (max-width: 1600px) {
    .content {
        width: 95%;
        text-align: left;
        font-size: calc(5px + 2vmin);
    }

    .new,
    .news-finished,
    .merch,
    #order {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 1000px) {
  #display-video iframe {
    width: 720px;
    height: 405px;
  }
  #video-desc {
    width: 720px;
  }
}

@media only screen and (min-width: 1200px) {
  #display-video {
    width: 90%;
  }
  #display-video iframe {
    width: 1000px;
    height: 562.5px;
  }
  #video-desc {
    width: 1000px;
  }
  
  .news-finished img {
    width: 900px;
  }
}

@media only screen and (min-width: 1800px) {
    #display-video 
    .merch-with-img,
    .news-with-poster {
        grid-template-columns: 4fr 7fr;
        gap: 2em;
    }
}

