.slideshow {
  margin: 10px;
}

.mySlides img {
  object-fit: contain;
  max-width: 100%;
  cursor: pointer;
  height: 600px;
  max-height: 1500px;
}

.mySlides {
  display: none
}
img {
  vertical-align: middle;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}
/* Position the "next button" to the right */
.next {
  right: -30px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -30px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 1);
}
/* Caption text */
.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
@-webkit-keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

/* Title-font */
.title{
  text-align: center;
  font-family: Garamond, Helvetica, sans-serif;
  font-size: 60px;
}

.eventsTitle{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin-bottom: 10px;
}

/* Format for to keep the images as image grid style*/
* {
  box-sizing: border-box;
}

/* Format for the 1st year welcoming event*/
.welcome1 {
  grid-area: welcome1;
}

.welcome2 {
  grid-area: welcome2;
}

.boxWelcome {
  margin-top: 15px;
  display: grid;
  gap: 25px;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "welcome1 welcome2"
}

/* Format for the expo and BBQ events*/
.titleExpo { 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin-bottom: 10px;
  grid-area: titleExpo;
}

.expo {
  grid-area: expo;
}

.titleBBQ {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin-bottom: 10px;
  grid-area: titleBBQ;
}

.BBQ {
  grid-area: BBQ;
}

.boxExpoBBQ img {
  height: 100%;
}

.boxExpoBBQ {
  margin-top: 15px;
  display: grid;
  gap: 25px;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "titleExpo titleBBQ"
    "expo BBQ"
}

/* Format for the 60th annivesary and pancake events*/
.titleAnni {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin-bottom: 10px;
  grid-area: titleAnni;
}

.anni {
  grid-area: anni;
}

.titlePancake {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin-bottom: 10px;
  grid-area: titlePancake;
}

.pancake {
  grid-area: pancake;
}

.boxAnniPancake {
  margin-top: 15px;
  display: grid;
  gap: 25px;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "titleAnni titlePancake"
    "anni pancake"
}

/* Format for the CGN event*/
.verticalCGN1 {
  grid-area: verticalCGN1;
}

.verticalCGN2 {
  grid-area: verticalCGN2;
}

.horizontalCGN1 {
  grid-area: horizontalCGN1;
}

.horizontalCGN2 {
  grid-area: horizontalCGN2;
}

.horizontalCGN3 {
  grid-area: horizontalCGN3;
}

.horizontalCGN4 {
  grid-area: horizontalCGN4;
}

.horizontalCGN5 {
  grid-area: horizontalCGN5;
}

.boxCGN img {
  height: 100%;
}

.boxCGN {
  margin-top: 15px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "horizontalCGN3 horizontalCGN3 horizontalCGN2 horizontalCGN2"
    "verticalCGN1 horizontalCGN1 horizontalCGN1 verticalCGN2"
    "horizontalCGN4 horizontalCGN4 horizontalCGN5 horizontalCGN5"
}

/* Format for the calculus studying session event*/

.studyCal1{
  grid-area: studyCal1;
}

.studyCal2{
  grid-area: studyCal2;
}

.boxStudyCal{
  margin-top: 15px;
  display: grid;
  gap: 25px;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
   "studyCal1 studyCal2"
}